.hero-heading-image {
  max-width: 100px;
  width: 100%;
  margin-bottom: 40px;
}

.hero-subheading {
  color: white;
}

.hero-filter-input {
  width:50%;
  padding:1rem;
}

.hero-button-row {
  margin-top: 5rem;
}

.stores-button-row {
  height: 0;
}

.buttons-container {
  margin-bottom: 3rem;
}

.btn {
  background: #205081;
  padding: 10px 20px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  margin: 0.2rem;
  font-weight: bold;
}
.btn:focus {
  outline: 0;
  color: white;
}
.btn:hover {
  color: white;
}

.view-change-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background: black;
  padding: 15px;
  border-radius:50px;
}

.small-btn {
  background: #05182b;
  padding: 5px 10px;
  font-size:9px;
  line-height: 15px;
}

.epic-games-btn {
  background: #1F1F1F;
}
.epic-games-btn:before {
  background: url('../img/logo-epic-games.png') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: contain;
  content: '';
  width: 12px;
  height: 12px;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
  font-weight: 900;
}

.itch-btn {
  background: #fa5c5c;
}
.itch-btn:before {
  font-family: "Font Awesome 5 Brands";
  content: "\f83a";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
}

.steam-btn {
  background: #2a475e;
}
.steam-btn:before {
  font-family: "Font Awesome 5 Brands";
  content: "\f3f6";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
}

.pc-btn {
  background: #0078d7;
}
.pc-btn:before {
  font-family: "Font Awesome 5 Free";
  content: "\f108";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
}

.ps4-btn {
  background: #003087;
}
.ps4-btn:before {
  font-family: "Font Awesome 5 Brands";
  content: "\f3df";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
}
.xbox-btn {
  background: #0e7a0d;
}
.xbox-btn:before {
  font-family: "Font Awesome 5 Brands";
  content: "\f412";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
}
.oculus-btn {
  background: #1d1f20;
}
.oculus-btn:before {
  background: url('../img/logo-oculus.png') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  content: '';
  width: 22px;
  height: 15px;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
  font-weight: 900;
}

.sidequest-btn {
  background: #111224;
}
.sidequest-btn:before {
  background: url('../img/logo-sidequest.png') no-repeat center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  content: '';
  width: 22px;
  height: 15px;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
  font-weight: 900;
}

.challonge-btn {
  background: #ff7324;
}

.inactive-filter-btn {
  background: grey;
  opacity: 0.5;
  color: darkgray;
}

.game-image {
  height: 150px;
  width: 300px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.install-size-btn.browser {
  background: #004d9a;
}

.install-size-btn.small {
  background: #026300;
}

.install-size-btn.medium {
  background: #7f350e;
}

.install-size-btn.large {
  background: #7b060a;
}

.unclickable {
  cursor: default;
}
